USE [master]
GO
/****** Object:  Database [peon]    Script Date: 10/30/2015 10:52:50 AM ******/
CREATE DATABASE [peon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'peon', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\peon.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'peon_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\peon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [peon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [peon]
GO
/****** Object:  Table [dbo].[bondservants]    Script Date: 10/30/2015 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bondservants](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[rating] [bigint] NOT NULL,
	[deleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_bondservants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 10/30/2015 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [char](128) NOT NULL,
	[access] [int] NOT NULL,
	[data] [text] NOT NULL,
 CONSTRAINT [PK_sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/30/2015 10:52:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[level] [bigint] NOT NULL,
	[deleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bondservants] ON 

INSERT [dbo].[bondservants] ([id], [name], [rating], [deleted]) VALUES (1, N'Gondor', -100, 0)
INSERT [dbo].[bondservants] ([id], [name], [rating], [deleted]) VALUES (2, N'Schlarch', -1000, 0)
SET IDENTITY_INSERT [dbo].[bondservants] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [level], [deleted]) VALUES (1, N'paulboco', N'$2y$10$doBSDgl4dGepE8LIZ5pb/Os8gagGu13SzUCC36jBfnmspWcACVrvS', 1, 0)
INSERT [dbo].[users] ([id], [username], [password], [level], [deleted]) VALUES (2, N'jazzmole', N'$2y$10$doBSDgl4dGepE8LIZ5pb/Os8gagGu13SzUCC36jBfnmspWcACVrvS', 10, 0)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[bondservants] ADD  CONSTRAINT [DF_bondservants_rating]  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[bondservants] ADD  CONSTRAINT [DF_bondservants_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_level]  DEFAULT ((10000)) FOR [level]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_deleted]  DEFAULT ((0)) FOR [deleted]
GO
USE [master]
GO
